* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #070B16;
  font-family: 'Manrope', sans-serif;
  color: white;
}

h1, h2, h3 {
  font-family: 'Space Grotesk', sans-serif;
}

p {
  font-size: 16px;
}